<div class="conteiner">
	<div class="row"></div>
		<div class="col-md-1">
			
		</div>
		<div class="col-md-3">
			<h1>Crea una nueva tarea ;)</h1>
			<%=form_with model: @todo, local: true do |t|%>
			  <%= t.label :description, "Ingrese tarea" %>
			  <%= t.text_field :description %>
			  <%= t.submit "Crear"  %>
		  	<% end %>
		</div>
		
	</div>
</div>