<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Richard Stuardo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><%= link_to "Inicio", todos_path %></li>
      <li><%= link_to "Lista", todos_list_path %></li>
      <li><%= link_to "Nuevo ToDo", todos_new_path %></li>
      
    </ul>
  </div>
</nav>